.container {
    display: grid;
    background-color: brown;
    width: 1760px;
    height: 950px;  
    grid-template-columns: 65% 35%;
    grid-gap: 0px;
    margin: 0px;
    text-align: center;
}
  
.left {
    background: url(images/San_Diego_Map.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
  
.right {
    background-color: orange;
}


.dot {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    position: initial;
    display: block;
}

.viewing {
    transform: scalr(1.1);
    border-color: yellowgreen;
}

#Hike1 {
    position: relative;
    top: 395px;
    left: 112px;
}

#Hike2 {
    position: relative;
    top: 120px;
    left: 120px;
}

#Hike3 {
    position: relative;
    top: 250px;
    left: 250px;
}

#Hike4 {
    position: relative;
    top: 110px;
    left: 220px;
}

#Hike5 {
    position: relative;
    top: 190px;
    left: 470px;
}

#Hike6 {
    position: relative;
    top: 65px;
    left: 460px;
}

#Hike7 {
    position: relative;
    top: 290px;
    left: 425px;
}